#about {
  margin-top: 7rem;
}

.about-section-container {
  overflow-x: clip;
}

.about-top-section {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  align-items: center;
  padding: 0 2rem;
  margin: auto;
  max-width: var(--max-width);
}

.aws-icons-title-container {
  text-align: center;
  padding: 0 4rem;
  margin: 7rem auto 2.5rem;
  max-width: 800px;
  font-size: 1.2rem;

  opacity: 0;

  /* animation-name: fade-in; */
  animation-duration: 0.75s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-fill-mode: both;
}

.about-card {
  color: white;
  max-width: 40%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  font-size: 1.25rem;

  opacity: 0;

  /* animation-name: slide-from-left; */
  animation-fill-mode: both;
  animation-duration: 0.7s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.about-card h1 {
  margin-bottom: 1.65rem;
}

.about-card p,
.aws-icons-title-container p {
  font-size: 1.3rem;
  line-height: 1.6;
  margin: auto;
  max-width: 640px;
}

.about-icon-clusters {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 5rem;
  justify-content: center;
  align-items: center;
}

.about-icon-cluster-tech {
  display: flex;
}

.about-icon-cluster-aws {
  display: flex;
  margin: 1.5rem 0 15rem;
  position: relative;
}

.about-icon-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-icon-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  padding: 0 1rem;
}

.about-icon-cluster-tech img:not(.spin):not(.spin-reverse) {
  opacity: 0;
  /* animation-name: slow-bobbing, fade-in; */
  animation-duration: 6s, 0.25s;
  animation-fill-mode: both;
  animation-iteration-count: infinite, 1;
  animation-timing-function: ease-in-out, linear;
}

.about-icon-cluster-tech img.spin,
.about-icon-cluster-tech img.spin-reverse {
  opacity: 0;
  /* animation-name: slow-bob-spin, fade-in; */
  animation-duration: 12s, 1.2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite, 1;
  animation-timing-function: linear, linear;
}

.about-icon-cluster-tech img {
  width: 75px;
}

.about-icon-cluster-aws img {
  width: 130px;

  opacity: 0;

  /* animation-name: subtle-wobble, bounce-in-from-right; */
  animation-duration: 3s, 1.5s;
  animation-fill-mode: backwards;
  animation-iteration-count: infinite, 1;
  animation-timing-function: linear, ease-in-out;
}

.about-icon-cluster-tech img,
.about-icon-cluster-aws img {
  margin: 1rem;
}

@media (max-width: 1250px) {
  .about-icon-cluster-tech img {
    width: 60px;
  }

  .about-top-section {
    gap: 3rem;
  }

  .about-card {
    font-size: 1.15rem;
  }

  .about-icon-cluster-aws img {
    width: 120px;
  }

  .aws-icons-title-container {
    font-size: 1.13rem;
  }
}

@media (max-width: 1065px) {
  .about-icon-cluster-aws img {
    width: 109px;
  }

  .about-card p {
    font-size: 1.2rem;
  }

  .aws-icons-title-container p {
    font-size: 1.2rem;
  }
}

@media (max-width: 992px) {
  .about-icon-cluster-tech img {
    width: 47px;
  }

  .about-top-section {
    gap: 3rem;
  }

  .about-card {
    font-size: 1.05rem;
  }

  .about-card p {
    font-size: 1.15rem;
  }

  .aws-icons-title-container p {
    font-size: 1.15rem;
  }

  .about-icon-cluster-aws img {
    width: 125px;
  }

  .aws-icons-title-container {
    font-size: 1.08rem;
  }
}

@media (max-width: 768px) {
  .about-icon-cluster-tech img {
    width: 72px;
  }

  .about-icon-column {
    gap: 0.8rem;
    margin: 0 0.32rem;
  }

  .about-top-section {
    gap: 1rem;
    padding: 1rem;
  }

  .about-card {
    font-size: 1.2rem;
    margin: 0 0 2.5rem;
    max-width: unset;
  }

  .about-card p {
    font-size: 1.25rem;
    margin-top: 2rem;
  }

  .aws-icons-title-container p {
    font-size: 1.25rem;
  }

  .about-icon-cluster-aws img {
    width: 125px;
  }

  .aws-icons-title-container {
    font-size: 1.12rem;
  }
}

@media (max-width: 576px) {
  .about-icon-cluster-tech img {
    margin: 1.2rem;
    width: 68px;
  }

  .about-icon-column {
    gap: 0;
    margin: 0;
  }

  .about-card {
    font-size: 1.1rem;
    margin: 0 0 0.5rem;
  }

  .about-card h1 {
    font-size: 3em;
  }

  .about-card p {
    font-size: 1.15rem;
  }

  .aws-icons-title-container p {
    font-size: 1.15rem;
  }

  .about-icon-cluster-aws {
    margin: 1.5rem 0 8rem;
  }

  .about-icon-cluster-aws img {
    width: 115px;
  }

  .aws-icons-title-container {
    font-size: 1.07rem;
    margin: 1.55rem auto 2.5rem;
  }
}

@media (max-width: 550px) {
  .about-icon-cluster-tech img {
    margin: 1rem;
    width: 58px;
  }
}

@media (max-width: 450px) {
  .about-icon-cluster-tech img {
    margin: 0.9rem;
    width: 50px;
  }

  .about-card {
    font-size: 1.05rem;
  }

  .about-card h1 {
    font-size: 2.8em;
  }

  .about-card p {
    font-size: 1.05rem;
  }

  .aws-icons-title-container p {
    font-size: 1.05rem;
  }

  .aws-icons-title-container {
    font-size: 1.03rem;
  }

  .about-icon-cluster-aws img {
    width: 120px;
  }
}

@media (max-width: 400px) {
  .about-icon-cluster-tech img {
    margin: 0.85rem;
    width: 45px;
  }
}

@media (max-width: 768px) {
  .about-top-section {
    flex-direction: column;
  }
}
