#contact {
  /* animation-name: bounce; */
  animation-duration: 1.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;

  margin: 12rem 0 6rem;
}

.contact-form {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1.25rem;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form-row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.contact-form-col {
  flex: 1;
  margin-right: 10px;
}

.contact-form-alert {
  border-radius: 12px;
  margin-top: 25px;
  padding: 1rem;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

.contact-form-alert--none {
  opacity: 0;
}

.contact-form-alert--success {
  background: green;
  opacity: 1;
}

.contact-form-alert--error {
  background: #d32f2f;
  color: white;
  opacity: 1;
}

.contact-form-col:last-child {
  margin-right: 0;
}

.contact-form input,
.contact-form textarea {
  background: rgba(255, 255, 255, .9);
  color: var(--text-black);
  width: 100%;
  padding: 10px 10px 10px 17px;
  border: 2px solid #afadad;
  height: 38px;
  border-radius: 30px;
  font-size: 14px;
}

.contact-form p {
  font-size: 1.2rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 450px;
}

.contact-form textarea {
  height: 120px;
  resize: vertical;
  border-radius: 11px;
  font-family: var(--font);
}

.contact-form input:focus-visible,
.contact-form textarea:focus-visible {
  border: 2px solid var(--button-border-color-hover);
  outline: none;
}

.contact-form textarea::placeholder {
  font-family: var(--font);
}

@media (max-width: 768px) {
  .contact-form p {
    font-size: 1.1rem;
  }
}

@media (max-width: 576px) {
  .contact-form h1 {
    font-size: 3em;
  }

  #contact {
    margin: 8rem 0 0;
  }
}

@media (max-width: 450px) {
  #contact {
    margin: 6rem 0 0;
  }

  .contact-form h1 {
    font-size: 2.8em;
  }

  .contact-form p {
    font-size: 1.05rem;
  }
}

@media (max-width: 400px) {
  .contact-form h1 {
    font-size: 2.6em;
  }
}
