.pills-container {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-top: 1rem;
}

.pills-title {
  flex-basis: 100%;
  font-size: 0.9rem;
}

.pill {
  background: rgba(64, 64, 70, 0.95);
  border-radius: 15px;
  font-size: 0.85rem;
  margin-top: 0.1rem;
  padding: 0.25rem 0.8rem;
}

@media (max-width: 576px) {
  .pills-container {
    margin-top: 0;
  }
}

@media (max-width: 350px) {
  .pill {
    font-size: 0.75rem;
  }
}
