.work-section {
  position: relative;
  width: 100%;
}

.work-section h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.work-cards {
  display: flex;
  flex-direction: column;
  gap: 6rem 2rem;
}

.work-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.5rem;
  margin: 2rem 0;
  padding: 0 2rem;
}

.work-image-card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
}

.work-image-card img {
  height: 100%;
  max-width: 550px;
}

.work-text-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
}

@media (max-width: 1200px) {
  .work-text-card {
    max-width: 400px;
  }
}

@media (max-width: 992px) {
  .work-text-card {
    max-width: 350px;
  }
}

@media (max-width: 768px) {
  .work-text-card {
    max-width: 225px;
  }
}

@media (max-width: 635px) {
  .work-card {
    flex-wrap: wrap;
  }
}

@media (min-width: 636px) {
  .work-card:nth-child(even) {
    flex-direction: row-reverse;
  }
}

.work-text-card h3 {
  margin: 0;
  font-size: 1.5rem;
}

.work-text-card p {
  font-size: 1rem;
  margin: 0.5rem 0;
  color: var(--text-gray);
  /* text-align: justify; */
}

.work-text-card a {
  color: var(--link-color);
  text-decoration: none;
  margin-top: 1rem;
}

.work-text-card a:hover {
  color: var(--link-color-hover);
  text-decoration: underline;
}
